@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --spring-easing: linear(
    0,
    0.01,
    0.04 1.5%,
    0.163 3.2%,
    0.824 9.2%,
    1.055,
    1.199 14.2%,
    1.24,
    1.263,
    1.265 18.2%,
    1.243 19.9%,
    0.996 28.8%,
    0.951,
    0.93 34.1%,
    0.929 35.7%,
    0.935 37.5%,
    1 46.3%,
    1.018 51.4%,
    1.017 55.1%,
    0.995 68.6%,
    1.001 85.5%,
    1
  );
  --spring-duration: 5s;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: --font-sans, --font-mono, Arial, Helvetica, sans-serif;
}

::view-transition-old(men-i-trust),
::view-transition-new(men-i-trust) {
  height: 100%;
  /* animation-timing-function: var(--spring-easing);
  animation-duration: var(--spring-duration); */
  /* width: 100%; */
  /* overflow: clip; */
  /* animation-duration: 5s; */

  /* animation-duration: 3s; */
}
::view-transition-group(men-i-trust) {
  overflow: clip;
  /* animation-duration: 5s; */
}

/* ::view-transition-group(men-i-trust) {
  animation-timing-function: var(--spring-easing);
  animation-duration: var(--spring-duration);
  overflow: clip;
}

::view-transition-image-pair(*) {
  object-fit: cover;
} */
